PUBLIC_BASE_URL="https://decasan.lovable.app"

VITE_SUPABASE_URL="https://tu-proyecto.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="tu_anon_key"
VITE_SUPABASE_PROJECT_ID="tu_project_id"
SUPABASE_URL="https://tu-proyecto.supabase.co"
SUPABASE_PUBLISHABLE_KEY="tu_anon_key"
SUPABASE_SERVICE_ROLE_KEY="tu_service_role_key"

RESEND_API_KEY="re_xxxxxxxxxxxxxxxxxxxxxxxxx"
RESEND_FROM_EMAIL="Decasan <ventas@tudominio.com>"
ORDER_EMAIL_BCC="admin@tudominio.com"
ORDER_EMAIL_REPLY_TO="ventas@tudominio.com"

MERCADOPAGO_ACCESS_TOKEN="APP_USR_o_TEST_xxxxxxxxx"
MERCADOPAGO_WEBHOOK_SECRET="tu_webhook_secret"

ANDREANI_USERNAME="tu_usuario"
ANDREANI_PASSWORD="tu_password"
ANDREANI_CLIENT="tu_codigo_cliente"
ANDREANI_CONTRACT="tu_contrato"
ANDREANI_PRODUCT_CATEGORY="Herramientas y equipamiento"
ANDREANI_DESTINATION_CITY=""
ANDREANI_DEFAULT_DELIVERY_DAYS="5"
ANDREANI_LOGIN_URL="https://apis.andreani.com/login"
ANDREANI_QUOTE_URL="https://apis.andreanigloballpack.com/cotizador-globallpack/api/v1/Cotizador"
ANDREANI_BRANCHES_URL="https://apis.andreani.com/v2/sucursales"
SHIPPING_ORIGIN_CP="5172"
SHIPPING_ORIGIN_CITY="La Falda"
SHIPPING_DECLARED_VALUE="1000"
SHIPPING_DEFAULT_LENGTH_CM="20"
SHIPPING_DEFAULT_WIDTH_CM="20"
SHIPPING_DEFAULT_HEIGHT_CM="10"
SHIPPING_FALLBACK_BASE="500"
SHIPPING_FALLBACK_PER_KG="50"
